body {
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-space-between;
  min-height: 100vh;
  font-family: $main-ff;
  @include font($main-size, $main-line-height);
  color: $text-color;
  background: $light-color;
}
