%inline-block {
  display: inline-block;
}

%flex {
  display: flex;
}

%flex-column {
  flex-direction: column;
}

%js-content-space-between {
  justify-content: space-between;
}

%al-items-center {
  align-items: center;
}

%font-main {
  font-family: $main-ff;
}

%font-second {
  font-family: $second-ff;
}

%transition {
  transition: ease-in-out 0.5s;
}

%cursor {
  cursor: pointer;
}
