/* Color */

$accent-color: rgba(255, 153, 0, 1);
$button-second-color: rgba(23, 58, 86, 1);
$title-color: rgba(47, 40, 30, 1);
$text-color: rgba(84, 72, 55, 1);
$button-border-color: rgba(188, 208, 229, 1);
$tag-border-color: rgba(215, 215, 215, 1);
$tag-bg-color: rgba(245, 245, 245, 1);
$hover-button-color: rgba(255, 117, 73, 1);
$email-color: rgba(25, 67, 239, 1);
$contact-section-color: rgba(255, 238, 225, 1);

$light-color: rgba(255, 255, 255, 1);
$tool-color-1: rgba(119, 82, 190, 1);
$tool-color-2: rgba(250, 176, 5, 1);
$tool-color-3: rgba(240, 62, 61, 1);
$tool-color-4: rgba(77, 173, 247, 1);

/* Fonts size */

$main-size: 1.6rem;
$section-size: 3.4rem;
$tag-size: 1.3rem;
$tool-title: 2.2rem;
$contact-size: 2.5rem;
$profile-social-size: 1.4rem;
$hero-size: 4.4rem;

/* Line height */

$main-line-height: 2.8rem;
$second-line-height: 2.6rem;
$button-line-height: 2.2rem;
$section-title-line-height: 4.6rem;
$tag-text-line-height: 3.4rem;
$tool-title-line-height: 2.6rem;

/* Font familly */

$main-ff: "Open Sans", sans-serif;
$second-ff: "Poppins", sans-serif;

$bold: 700;
$semi-bold: 600;
$regular: 400;

/* Width */

$container-width: 1230px;

/* Padding */

$padding-inline-main: 1.5rem;
