/* Color */

$accent-color: #ff9900;
$button-second-color: #173a56;
$header-color: #2f281e;
$text-color: #544837;
$button-border-color: #bcd0e5;
$tag-border-color: #d7d7d7;
$tag-bg-color: #f5f5f5;
$hover-button-color: #ff7549;
$email-color: #1943ef;
$contact-section-color: #ffeee1;

$light-color: #ffffff;
$tool-color-1: #7752be;
$tool-color-2: #fab005;
$tool-color-3: #f03e3d;
$tool-color-4: #4dadf7;

/* Fonts size */

$main-size: 1.6rem;
$section-size: 3.4rem;
$tag-size: 1.3rem;
$service-title-size: 2.2rem;
$contact-size: 2.5rem;
$contact-link-size: 2rem;
$profile-social-size: 1.4rem;
$hero-size: 4.4rem;
$tag-text-size: 2.4rem;
$nav-size: 1.5rem;

$button-radius: 0.4rem;
/* Line height */

$main-line-height: 2.8rem;
$second-line-height: 2.6rem;
$button-line-height: 2.2rem;
$section-line-height: 4.6rem;
$tag-text-line-height: 3.4rem;
$hero-line-height: 5.4rem;
$service-line-height: 3rem;

/* Font familly */

$main-ff: "Open Sans", sans-serif;
$second-ff: "Poppins", sans-serif;

$bold: 700;
$semi-bold: 600;
$regular: 400;

/* Width */

$content-width: 1230px;

/* Padding */

$padding-inline-main: 1.5rem;

/* Media */
$tablet-width: 769px;
$mobile-big-width: 426px;
$mobile-small-width: 321px;
